@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://use.typekit.net/nkc3wfz.css');

:root {
  --bg: rgb(26, 26, 26);
  --bg-soft: rgb(36, 36, 36);
  --text-dark: rgba(255, 255, 255, 0.87);
  --text-dark-secondary: rgba(235, 235, 235, 0.6);

  --divider: rgba(84, 84, 84, 0.65);

  --green: rgb(66, 184, 131);
  --green-hover: rgb(56, 154, 111);

  --red: rgba(231, 78, 61, 0.87);
  --yellow: rgb(243, 156, 18);

  --black-mute: rgb(47, 47, 47);
  --black-muted: rgba(47, 47, 47, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--bg);
  font-family: 'inter-variable', 'Inter', sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 64px 16px 16px 16px;
}

:is(h1, h2, h3, h4, h5, h6) {
  color: var(--text-dark);
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

p:not(footer p) {
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding-inline: 0;
  user-select: none;
}

@media (min-width: 768px) {
  .container {
    padding: 64px;
  }

  .navbar-content {
    padding-inline: 32px 12px;
  }
}
